<!-- <?php
include '../config/db_connect.php';
session_start();
if (!isset($_SESSION['is_loggedin'])) {
    header('location:../../index.php?msg=pleaseLogin');
    return;
}
if (isset($_POST['logout'])) {
    // remove all session variables
    session_unset();
    // destroy the session
    session_destroy();
    header('location:../../index.php?msg=logged-out');
    return;
}
if (isset($_GET['action'])) {
    $action = $_GET['action'];
    $id = $_GET['id'];
    if ($action == "delete") {
        $sql = $conn->query("UPDATE class SET status='deleted' WHERE id='$id'");
        header('location:all-courses.php');
    } elseif ($action == "activate") {
        $sql = $conn->query("UPDATE class SET status='activated' WHERE id='$id'");
        header('location:all-courses.php');
    } elseif ($action == "deactivate") {
        $sql = $conn->query("UPDATE class SET status='deactivated' WHERE id='$id'");
        header('location:all-courses.php');
    } elseif ($action == "edit") {
        header('location:edit.php');
    }
}
?> -->
{% load static %}
<!doctype html>
<html class="no-js" lang="en">

<head>
    <style>
        body {
            font-family: Arial, Helvetica, sans-serif;
        }

        /* The Modal (background) */
        .modal {
            display: none;
            /* Hidden by default */
            position: fixed;
            /* Stay in place */
            z-index: 1;
            /* Sit on top */
            padding-top: 100px;
            /* Location of the box */
            left: 0;
            top: 0;
            width: 100%;
            /* Full width */
            height: 100%;
            /* Full height */
            overflow: auto;
            /* Enable scroll if needed */
            background-color: rgb(0, 0, 0);
            /* Fallback color */
            background-color: rgba(0, 0, 0, 0.4);
            /* Black w/ opacity */
        }

        /* Modal Content */
        .modal-content {
            background-color: #fefefe;
            margin: auto;
            padding: 20px;
            border: 10px solid #888;
            width: 80%;
        }

        /* The Close Button */
        .close {
            color: #aaaaaa;
            float: right;
            font-size: 28px;
            font-weight: bold;
        }

        .close:hover,
        .close:focus {
            color: #000;
            text-decoration: none;
            cursor: pointer;
        }
    </style>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>Quiz</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- favicon
		============================================ -->
    <link rel="shortcut icon" type="image/x-icon" href="{% static 'img/favicon.ico' %}">
    <!-- Google Fonts
		============================================ -->
    <link href="https://fonts.googleapis.com/css?family=Roboto:100,300,400,700,900" rel="stylesheet">
    <!-- Bootstrap CSS
		============================================ -->
    <link rel="stylesheet" href='{% static "css/bootstrap.min.css" %}'>
    <!-- Bootstrap CSS
		============================================ -->
    <link rel="stylesheet" href='{% static "css/font-awesome.min.css" %}'>
    <!-- owl.carousel CSS
		============================================ -->
    <link rel="stylesheet" href='{% static "css/owl.carousel.css" %}'>
    <link rel="stylesheet" href='{% static "css/owl.theme.css" %}'>
    <link rel="stylesheet" href='{% static "css/owl.transitions.css" %}'>
    <!-- animate CSS
		============================================ -->
    <link rel="stylesheet" href='{% static "css/animate.css" %}'>
    <!-- normalize CSS
		============================================ -->
    <link rel="stylesheet" href='{% static "css/normalize.css" %}'>
    <!-- meanmenu icon CSS
		============================================ -->
    <link rel="stylesheet" href='{% static "css/meanmenu.min.css" %}'>
    <!-- main CSS
		============================================ -->
    <link rel="stylesheet" href='{% static "css/main.css" %}'>
    <!-- educate icon CSS
		============================================ -->
    <!-- <link rel="stylesheet" href='{% static "css/educate-custon-icon.css" %}'> -->
    <!-- morrisjs CSS
		============================================ -->
    <link rel="stylesheet" href='{% static "css/morrisjs/morris.css" %}'>
    <!-- mCustomScrollbar CSS
		============================================ -->
    <link rel="stylesheet" href='{% static "css/scrollbar/jquery.mCustomScrollbar.min.css" %}'>
    <!-- metisMenu CSS
		============================================ -->
    <link rel="stylesheet" href='{% static "css/metisMenu/metisMenu.min.css" %}'>
    <link rel="stylesheet" href='{% static "css/metisMenu/metisMenu-vertical.css" %}'>
    <!-- calendar CSS
		============================================ -->
    <link rel="stylesheet" href='{% static "css/calendar/fullcalendar.min.css" %}'>
    <link rel="stylesheet" href='{% static "css/calendar/fullcalendar.print.min.css" %}'>
    <!-- style CSS
		============================================ -->
    <link rel="stylesheet" href='{% static "css/style.css" %}'>
    <!-- responsive CSS
		============================================ -->
    <link rel="stylesheet" href='{% static "css/responsive.css" %}'>
    <!-- modernizr JS
		============================================ -->
    <script src='{% static "js/vendor/modernizr-2.8.3.min.js" %}'></script>
</head>


<body>
    <!--[if lt IE 8]>
		<p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
	<![endif]-->
    <!-- Start Left menu area -->    
    {% include "./student_nav.html" %}   
    <!-- End Left menu area -->
    <!-- Start Welcome area -->
    <div class="all-content-wrapper">
       
        {% include "./student_header.html" %}
        <div class="product-status mg-b-15">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                        <div class="product-status-wrap drp-lst">
                            <!-- {% for msg in messages %}
                                <div style="color:red;font-size:larger;">{{msg}}</div>                                
                                {% endfor %} -->
                            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                <div id="zoomInDown1" class="modal modal-edu-general modal-zoomInDown fade" role="dialog">
                                    <div class="modal-dialog">
                                        <div class="modal-content">
                                            <div class="modal-close-area modal-close-df">
                                                <a class="close" data-dismiss="modal" href="#"><i class="fa fa-close"></i></a>
                                            </div>
                                            <div class="modal-body">
                                                <div class="modal-login-form-inner">
                                                    <div class="row">
                                                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">

                                                        </div>
                                                    </div>
                                                    <div class="row">
                                                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                                            <div class="basic-login-inner modal-basic-inner">

                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>                           
                            <div class="asset-inner">
                                {% for quiz in quizes %}   
                                {% if attempted %} 
                                <input type="submit" class="btn btn-success form-control" id='{{quiz.teacher_id}}' value="{{quiz.quiz_name}}: You already attempted this quiz" style="margin-top:10px;" class='{{quiz.teacher_id}}' name = '{{quiz.id}}' onclick='getquizname(this);' disabled>
                                {% else %}
                                <input type="submit" class="btn btn-success form-control" id='{{quiz.teacher_id}}' value="{{quiz.quiz_name}}" style="margin-top:10px;" class='{{quiz.teacher_id}}' name = '{{quiz.id}}' onclick='getquizname(this);'>
                                {% endif %}                                                                   
                                {% endfor %}
                            </div>                            
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="footer-copyright-area">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                        <div class="footer-copy-right">
                            <p>Copyright © 2018. All rights reserved. Template by <a href="https://colorlib.com/wp/templates/">Colorlib</a></p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- jquery
		============================================ -->
    <script src='{% static "js/vendor/jquery-1.12.4.min.js" %}'></script>
    <!-- bootstrap JS
============================================ -->
    <script src='{% static "js/bootstrap.min.js" %}'></script>
    <!-- wow JS
============================================ -->
    <script src='{% static "js/wow.min.js" %}'></script>
    <!-- price-slider JS
============================================ -->
    <script src='{% static "js/jquery-price-slider.js" %}'></script>
    <!-- meanmenu JS
============================================ -->
    <script src='{% static "js/jquery.meanmenu.js" %}'></script>
    <!-- owl.carousel JS
============================================ -->
    <script src='{% static "js/owl.carousel.min.js" %}'></script>
    <!-- sticky JS
============================================ -->
    <script src='{% static "js/jquery.sticky.js" %}'></script>
    <!-- scrollUp JS
============================================ -->
    <script src='{% static "js/jquery.scrollUp.min.js" %}'></script>
    <!-- counterup JS
============================================ -->
    <script src='{% static "js/counterup/jquery.counterup.min.js" %}'></script>
    <script src='{% static "js/counterup/waypoints.min.js" %}'></script>
    <script src='{% static "js/counterup/counterup-active.js" %}'></script>
    <!-- mCustomScrollbar JS
============================================ -->
    <script src='{% static "js/scrollbar/jquery.mCustomScrollbar.concat.min.js" %}'></script>
    <script src='{% static "js/scrollbar/mCustomScrollbar-active.js" %}'></script>
    <!-- metisMenu JS
============================================ -->
    <script src='{% static "js/metisMenu/metisMenu.min.js" %}'></script>
    <script src='{% static "js/metisMenu/metisMenu-active.js" %}'></script>
    <!-- morrisjs JS
============================================ -->
    <script src='{% static "js/morrisjs/raphael-min.js" %}'></script>
    <script src='{% static "js/morrisjs/morris.js" %}'></script>
    <script src='{% static "js/morrisjs/morris-active.js" %}'></script>
    <!-- morrisjs JS
============================================ -->
    <script src='{% static "js/sparkline/jquery.sparkline.min.js" %}'></script>
    <script src='{% static "js/sparkline/jquery.charts-sparkline.js" %}'></script>
    <script src='{% static "js/sparkline/sparkline-active.js" %}'></script>
    <!-- calendar JS
============================================ -->
    <script src='{% static "js/calendar/moment.min.js" %}'></script>
    <script src='{% static "js/calendar/fullcalendar.min.js" %}'></script>
    <script src='{% static "js/calendar/fullcalendar-active.js" %}'></script>
    <!-- plugins JS
============================================ -->
    <script src='{% static "js/plugins.js" %}'></script>
    <!-- main JS
============================================ -->
    <script src='{% static "js/main.js" %}'></script>
    <!-- tawk chat JS
============================================ -->

<script>
function getquizname(quizname){
    const quiz = quizname.name;
    const teacher = quizname.id;  
    const quizbtn = quizname.value;    
            $.ajax({
            url: "/student_dashboard/load_total/",
            type: "POST",
            cache: false,
            data: {
                quiz,
                teacher,
                'csrfmiddlewaretoken': document.getElementsByName('csrfmiddlewaretoken')[0].value,
            },
            success: function(response, textStatus){
                let res = response;                
                localStorage.setItem('total',res);
                window.location = `/student_dashboard/take_quiz/${res}/${quiz}/${teacher}/`;
            }      
            })
            //$.ajax({
            //url: 'save_quiz_session.php',
            //type: 'GET',
            //cache:false,
            //data:{
            //    quiz,
            //},
            //success: function(){
            //    window.location = 'take_quiz.php';
            //}
            //})
        }
</script>
</body>

</html>